*{
box-sizing:border-box;}

body{
	margin:0;
	padding:0;
font-family: 'Bai Jamjuree', sans-serif;

}

header{
	display:flex;
	
	justify-content:center;
	align-items:center;
	background-image: url("images/bg-header-desktop.png");
	background-repeat:no-repeat;
	background-size:cover;
	height:500px;
}
.firstflex, .secondflex, .flex4{
	width:40%;
	height:auto;
	display:flex;
margin:auto;
	align-items:center;
	flex-direction:column;
	position:relative;
	
	text-align:center;
	
}

.firstflex{
top:-150px;}

h1, h2, h3 {
color: hsl(210, 10%, 33%);}



h1{
	
	font-size:44px;
	font-weight:600;
}
h2{
	font-size:33px;
font-weight:600;}
p{
	font-size:18px;
	font-weight:400;
	margin-top:0;
	line-height:1.5;
	color: hsl(201, 11%, 66%);
}
h3{
font-size:25px;
margin-bottom:10px;

}

.buttons, .buttons1{
	display:flex;
	flex-direction:row;
	width:520px;
	margin:auto;
	justify-content:space-between;
	position:relative;
	
height:auto;

}
.buttons{
	top:-100px;
}
.buttons1{
top:20px;}



button{
	border:none;
	width:250px;
	height:60px;
	border-radius:30px;
	color:white;
	font-weight:400;
	font-family: 'Bai Jamjuree', sans-serif;
	font-size:18px;
	cursor:pointer;
}
button:first-child{
	background-color:  hsl(171, 66%, 44%);
	box-shadow:0px 10px 30px  hsl(171, 66%, 64%);
}

button:last-child{
background-color:hsl(233, 100%, 69%);
box-shadow:0px 10px 30px hsl(233, 100%, 89%);
}

button:first-child:hover{
background-color:hsl(171, 66%, 55%);}

button:last-child:hover{
background-color:hsl(233, 100%, 79%);
}

.thirdflex{
	display:flex;
	flex-direction:row;
	width:100%;
	height:auto;
	
	margin-top:60px;
	
}

.thirdflex div{
	display:flex;
	width:20%;
	flex-direction:column;
	height:100%;
	margin-left:150px;
	margin-top:150px;
	
}

.thirdflex img{
	width:50%;
	margin-left:-40px;
}

.thirdflex p{
	font-size:16px;
}

.flex4{
margin-top:120px;}

.flex4 img{
margin-top:70px;}

.flex6{
	display:flex;
	width:80%;
	margin:auto;
	flex-direction:row;

}

.flex6 div{
	display:flex;
	flex-direction:column;
	width:35%;
	line-height:2;
	text-align:center;
	align-items:center;
	margin-top:50px;
padding:20px;
	
	
	
}
.flex6 img{
	width:15%;
}
.flex6 div:last-child{
margin-top:60px;}

.logo{
	display:flex;
	flex-direction:row;
	width:75%;
	height:auto;
	margin:auto;
	justify-content:space-between;
	margin-top:50px;
	align-items:center;
}
.logo img{
width:10%;
height:auto;
}

.logo img:nth-child(3), .logo img:last-child{
height:35px;}

footer{
	display:flex;
	width:100%;
	height:150px;
	background-color:hsl(201, 11%, 96%);
	margin:auto;
	margin-top:150px;
	flex-direction:row;
}

footer img{
height:40%;
top:30%;
	position:relative;
	left:200px;
	
}

footer a {
	text-decoration:none;
	color: hsl(210, 10%, 33%);
	padding:25px;
	font-size:18px;
margin-top:20px;
	
}
footer li{
	
	 list-style-type:none;
	 padding:10px;

 }
 
 footer ul{
 margin-top:35px;
}

 .soc{
	
	
	justify-content:flex-end;
	display:flex;
	  
 }
.soc a img{
height:30%;}

footer div{
	display:flex;
	flex-direction:row;
	margin-left:300px;
height:150px;}



@media screen and (min-width: 1200px) and (max-width:1500px){
	
	footer img{
	left:100px;}

	footer div{
	margin-left:110px;}
	
	.thirdflex div {
	margin-top:80px;}
	
	
}

@media screen and (max-width:601px){
	
	
	
	header{
	height:200px;}
	.firstflex, .secondflex, .thirdflex, .thirdflex div, .flex4, .logo img{
		
		width:85%;
	}
	
	.logo img{
	width:70%;}
	.firstflex{
	top:0;}
	
	.secondflex{
	margin-top:50px;}
	
	.thirdflex{
	flex-direction:column;}
	
	.thirdflex img{
		width:100%;
	
	margin: 0px 10% 0px 10%;}
	
	.thirdflex div{
		text-align:center;
	margin-left:15%;
	margin-top:20px;}
	
	.flex4 img{
		width:110%;
	height:auto;}
	
	.flex6{
	flex-direction:column;}
	
	.flex6 div{
	width:100%;
	margin-top:0;}
	
	.flex6 div:last-child{
	margin-top:0;}
	
	.logo{
	flex-direction:column;
	height:700px;}
	
	.logo img:nth-child(3), .logo img:last-child{
	height:auto;}
	
h1{
	font-size:32px;
	}
	
	.buttons, .buttons1{
		top:0;
		width:100%;
		align-items:center;
		justify-content:space-between;
		flex-direction:column;
		height:150px;
	}
	button{
		width:90%;
	}
	footer{
	flex-direction:column;
	height:auto;
	align-items:center;
	text-align:center;
	
	}
	footer div{
	flex-direction:column;
	margin-left:0;}
	footer img{
		
		position:initial;
		margin-top:40px;
		margin-bottom:20px;
	}
	footer ul{
	margin-left:0;
	margin-top:0;
	padding-left:0;
	margin-bottom:0;}
	
	footer a{
		padding:0;
	margin-top:10px;
	text-align:center;}
	
	.soc{
		flex-direction:row;
	width:40%;
	justify-content:space-between;
	padding-right:0px;
	margin-top:30px;}
	

.soc a img{
height:20%;
}
}

@media screen and (max-width: 900px) and (min-width: 601px){
	.firstflex, .secondflex, .flex4{
	width:60%;}
	.thirdflex{
	flex-direction:column;
	width:100%;}
	
	.thirdflex img{
		width:80%;
	
	margin: 0px 10% 0px 10%;
	}
	.thirdflex div{
		width:80%;
	text-align:center;
	margin-left:10%;
	margin-top:50px;}
	
	.flex4 img{
	width:150%;}
	
	.logo img:nth-child(3), .logo img:last-child {
	height:auto;}
	
	footer{
	flex-direction:column;
	height:auto;
	align-items:center;
	text-align:center;
	
	}
	
	footer img{
		
		position:initial;
		margin-top:40px;
		margin-bottom:20px;
	}
	footer ul{
	margin-left:0;
	margin-top:0;
	padding-left:0;
	margin-bottom:0;}
	
	footer a{
		padding:0;
	margin-top:10px;
	text-align:center;}
	
	footer .soc{
	width:40%;
	justify-content:space-between;
	flex-direction:row;
	padding-right:0px;
	margin-top:30px;}
	
	footer div{
		flex-direction:column;
		margin-left:0;
	}
}
